.single_column {
  background-image: url(../img/kyiv.jpg);
}

.grid {
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
}

#gas {
  width: 30rem;
}

/* -------- Responsive -------- */
@media (max-width: 739px) {
  .grid2 {
    display: flex;
    flex-direction: column;
  }
  
  .grid2 .first_column {
    border-left: 1px solid var(--black);
    border-right: 1px solid var(--black);
    padding: 2rem;
    width: 100%;
  }
  
  .grid2 .second_column {
    width: 100%;
    display: flex;
    justify-content: center;
    border: none;
  }
  
  #stackedbar {
    width: 80%;
    margin: 2rem auto;
  }
}