.m3-footer,
.team-title,
.footer-bottom,
.source {
    color: var(--beige);
}

.m3-footer {
    border-top: 1px solid var(--black);
    padding-top: 2rem;
    padding-bottom: 2rem;
    z-index: 0;
    background-color: var(--black);
}

#footer-grain {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 0;
}

/* ---------------- Brand ---------------- */
.footer-brand,
.footer-team {
    text-align: center;
}

.brand-title {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600 !important;
}

.brand-title,
.student-card {
    font-size: 0.8rem;
}

.student-card>a {
    text-decoration: none;
}

/* ---------------- Logo ---------------- */
#notion {
    height: 5rem;
    width: 10rem;
}

#logo {
    margin: 2rem;
    height: 5rem;
    width: auto;
}

body.dark-theme #logo {
    filter: invert(1) brightness(2);
}

/* ---------------- Team ---------------- */
.team-title {
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--beige);
    display: inline-block;
}

.team-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    margin-bottom: 5rem;
}

.student-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 10rem;
    height: 3rem;
    border: 1px solid var(--beige);
}

.student-card:hover {
    background-color: var(--orange);
    transition: all 0.2s ease;
    cursor: pointer;
}

.footer-bottom {
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.6;
}

.source:hover {
    color: var(--orange);
    transition: all 0.2s ease;
}

/* ---------------- RESPONSIVE ---------------- */
@media (max-width: 2400px) and (max-height: 978px) and (orientation: landscape){
    .team-grid {
        justify-content: center;
    }

    .student-card {
        align-items: center;
    }
}