#connection_container > .btn{
  top: 0;
  margin-left: 16.5rem;
}

#connection_container,
#choropleth_container{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

#pieta,
#general{
  width: 20rem;
}

#connection:hover,
#choropleth:hover{
  cursor: grab;
}

#connection:active,
#choropleth:active{
  cursor: grabbing;
}

#children{
  width: 30rem;
}