#choropleth_container{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

#choropleth:hover{
  cursor: grab;
}

#choropleth:active{
  cursor: grabbing;
}

#children{
  width: 30rem;
}