.map-wrapper {
  position: relative;
  display: inline-block;
}

.map-wrapper>.btn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#connection_container,
#choropleth_container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

#pieta,
#general {
  width: 20rem;
}

#connection:hover,
#choropleth:hover {
  cursor: grab;
}

#connection:active,
#choropleth:active {
  cursor: grabbing;
}

#children {
  width: 30rem;
}

/* -------- Responsive -------- */
@media (max-width: 2400px) and (max-height: 978px) and (orientation: landscape){
  .grid2 {
    display: flex;
    flex-direction: column;
  }

  .grid2 .first_column {
    border-left: 1px solid var(--black);
    border-right: 1px solid var(--black);
    padding: 2rem;
    width: 90%;
  }

  .grid2 .second_column {
    width: 90%;
    display: flex;
    justify-content: center;
    border: none;
  }
}