.map-wrapper {
  position: relative;
  display: inline-block;
}

.map-wrapper > .btn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#connection_container,
#choropleth_container{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

#pieta,
#general{
  width: 20rem;
}

#connection:hover,
#choropleth:hover{
  cursor: grab;
}

#connection:active,
#choropleth:active{
  cursor: grabbing;
}

#children{
  width: 30rem;
}