/* -------- Navbar -------- */
.m3-navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--beige);
}

#navbar-grain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}

.m3-navbar {
  width: auto;
  min-height: 2rem;
  padding: 1rem;
  border-bottom: 1px solid var(--black);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  position: relative;
  z-index: 2;
}

button {
  background-color: transparent;
  border: none;
}

.home {
  text-decoration: none;
  justify-self: start;
}

.home:hover {
  background-color: transparent !important;
  color: var(--orange) !important;
  transition: all 0.2s ease;
}

md-menu {
  --md-menu-container-color: var(--beige);
  --md-menu-container-shape: 0px;
}

md-menu-item {
  --md-menu-item-container-color: var(--beige);
  --md-menu-item-label-text-color: var(--black);
  width: 8rem;
}

md-menu-item::part(focus-ring) {
  border: none;
}

md-menu-item:hover {
  --md-menu-item-container-color: var(--orange);
  --md-menu-item-label-text-color: var(--beige);
  transition: all 0.2s ease;
}

.hamburger {
  display: flex;
  align-items: center;
  justify-self: end;
  position: relative;
}

/* -------- Icons -------- */
#menu {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  transition: background-color 0.3s ease;
  flex-shrink: 0;
}

#menu:hover {
  background-color: var(--orange);
  color: var(--beige);
  transition: all 0.2s ease;
}

/* -------- Topmenu -------- */
#topMenu{
  margin-left: 0.4rem;
}

.md-menu-item {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--black);
}

#topMenu > .material-symbols-outlined {
  color: inherit;
}

.md-icon {
  height: 100%;
}

.md-label {
  position: absolute;
  bottom: -2rem;
  transform: translateX(-50%) translateY(4px);
  background: var(--beige);
  color: var(--black);
  border: 1px solid var(--black);
  padding: 0.5rem;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
  z-index: 10;
}

.md-menu-item:hover .md-label,
.md-menu-item:focus-visible .md-label {
  opacity: 1;
  transform: translateX(-60%) translateY(0%);
}

.md-menu-item .md-icon {
  color: var(--black);
  transition: color 0.2s ease;
}

.md-menu-item.active .md-icon {
  color: var(--orange);
}