.single_column {
  background-image: url(../img/newspapers.jpg);
}

.grid {
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
}

.grid_separate {
  border: none;
}

#timeline{
  padding: 2rem;
}

#flag{
  width: 30rem;
}

/*--------- Sources -------------*/

.source_text {
  color: var(--black);
  font-weight: bold;
}

.source_text:hover {
    color: var(--orange);
    transition: all 0.2s ease;
}
