.single_column {
  background-image: url(../img/newspapers.jpg);
}

/*--------- Sources -------------*/
.source_text {
  color: var(--black);
  font-weight: bold;
}

.source_text:hover {
  color: var(--orange);
  transition: all 0.2s ease;
}