.single_column {
  background-image: url(../img/woman_with_veil.jpg);
}

#palestine,
#israel{
  min-height: 46rem;
}

.grid {
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
}

.grid_separate {
  border: none;
}

#timeline{
  padding-top: 2rem;
}

#flag{
  width: 30rem;
}

/* -------- Responsive -------- */
@media (max-width: 981px) and (max-height: 437px){
  .grid2 {
    display: flex;
    flex-direction: column;
  }
  
  .grid2 .first_column {
    border: none;
    padding: 2rem;
    width: 90%;
  }
  
  .grid2 .second_column {
    width: 90%;
    display: flex;
    justify-content: center;
  }
}