:root {
  /* Colors */
  --beige: #C4BDB2;
  --black: #1C1C1A;
  --orange: #B23D10;

  /* Typography */
  --unifraktur: "UnifrakturCook", cursive;
  --pirata: "Pirata One", system-ui;
  
  --antic: "Antic Didone", serif;

  --prata: "Prata", serif;
  --bodoni: "Bodoni Moda", serif;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

#main-grain {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
}

#main-grain::before{
  z-index: 9999 !important;
  mix-blend-mode: multiply;
}

#page{
  position: relative;
  z-index: 0;
  background: var(--beige);
  color: var(--black);
  width: 100%;
  min-height: auto;
}

.home{
  font-family: var(--unifraktur) !important;
}

.home,
h2{
  font-size: 1.5rem !important;
}

h1,
#source{
  font-weight: 1000;
}

h1{
  font-size: 3rem;
}

.title{
  background-color: var(--black);
  color: var(--beige);
  text-align: center;
  padding: 1rem;
}

.section,
h1,
h2{
  font-family: var(--antic);
}

h2,
.brand-title{
  font-weight: 600;
}

p,
.team-title,
.student-card{
  font-family: var(--prata);
  font-weight: 300;
}

a{
  color: var(--black);
}

.brand-title,
.student-card{
  font-size: 0.8rem;
}

.brand-title{
  text-transform: uppercase;
}

.student-card > a{
  text-decoration: none;
}

/* -------- Icons -------- */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48;
  font-size: 48px;
  width: 40px;
  height: 40px;
}

/* -------- Columns -------- */
.grid{
  display: grid;
  grid-template-columns: 1.2fr 1.6fr 1.2fr;
  width: 100%;
  gap: 20px;
  padding-bottom: 20px;
}

.column {
  padding: 1rem;
}

.middle_column{
  border-left: 1px solid var(--black);
  border-right: 1px solid var(--black);
}

img {
  width: 100%;
  transform: none !important;
}

/* -------- DARK MODE -------- */
#page.dark-theme {
  background-color: var(--black);
  color: var(--beige);
}