:root {
  /* Colors */
  --beige: #C4BDB2;
  --white: #fffaf2;
  --black: #1C1C1A;
  --orange: #B23D10;
  --green: #2A7F62;
  --blue: #2b59a7;

  /* Typography */
  --unifraktur: "UnifrakturCook", cursive;
  --antic: "Antic Didone", serif;
  --prata: "Prata", serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--beige);
  color: var(--black);
}

#main-grain {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
}

#main-grain::before {
  z-index: 9999 !important;
  mix-blend-mode: multiply;
}

.home {
  font-family: var(--unifraktur) !important;
}

.home,
h2 {
  font-size: 1.5rem !important;
}

h1 {
  font-weight: 1000;
}

h1 {
  font-size: 3rem;
  overflow: hidden;
  white-space: pre-wrap;
  letter-spacing: 0.05em;
}

.title {
  background-color: var(--black);
  color: var(--beige);
  display: grid;
  place-items: center;
  text-align: center;
  padding: 0.5rem;
  width: auto;
}

.section,
.sidebar-menu,
h1,
h2,
#dropdown button {
  font-family: var(--antic);
}

h2 {
  margin-top: 1rem;
}

.section,
.sidebar-menu,
h2,
.brand-title,
#dropdown button {
  font-weight: 600 !important;
}

.md-label,
p,
.team-title,
.student-card {
  font-family: var(--prata);
  font-weight: 500;
}

a {
  color: var(--black);
}

.sidebar-menu,
.brand-title,
.student-card {
  font-size: 0.8rem;
}

.brand-title {
  text-transform: uppercase;
}

.student-card>a {
  text-decoration: none;
}

/* -------- Icons -------- */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48;
  width: 2rem;
  height: 2rem;
}

.md-icon {
  font-size: 1.5rem;
}

#prev_page,
#next_page {
  margin: 5rem 5rem 2rem 5rem;
  font-size: 2rem;
  cursor: pointer;
  text-decoration: none;
}

#prev_page {
  transform: rotate(-90deg);
}

#next_page {
  transform: rotate(90deg);
}

#prev_page:hover,
#next_page:hover {
  color: var(--orange);
  transition: all 0.2s ease;
}

/* -------- Columns -------- */
.grid,
.grid2 {
  margin-top: 4rem;
  display: grid;
  width: 100%;
}

.grid {
  grid-template-columns: 1.2fr 1.6fr 1.2fr;
}

.grid2 {
  display: grid;
  grid-template-columns: 50vw auto;
}

.column-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 4rem;
}

.column {
  padding: 2rem;
}

.left_column,
.right_column,
.second_column,
.pages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle_column,
.first_column {
  border-right: 1px solid var(--black);
}

.middle_column {
  border-left: 1px solid var(--black);
}

.middle_column>p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.first_column {
  padding: 2rem;
}

.single_column {
  width: 70%;
  height: 70rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

img {
  visibility: hidden;
  width: 100%;
}

.card {
  width: 60%;
  background: var(--beige);
  padding: 3rem;
  border-radius: 0;
  border: none;
}

.plot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pages {
  margin-left: 0.4rem;
  border: none;
}

/* -------- Chart container -------- */
#chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  border-right: none !important;
}

#dropdown,
.btn {
  border: 0.1px solid var(--black);
  overflow: hidden;
  width: max-content;
}

#dropdown {
  margin-left: 0.4rem;
}

#dropdown button,
.btn button {
  padding: 0.5rem;
  background-color: var(--beige);
  color: var(--black);
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn button {
  height: 2.5rem;
}

#dropdown button.active,
#dropdown button:hover,
.btn button:hover {
  background-color: var(--orange);
  color: var(--beige);
}

/* -------- Responsive -------- */
@media (max-width: 938px) {
  html,
  body {
    overflow-x: hidden;
  }

  body.desktop-scale {
    transform: scale(0.3);
    transform-origin: top left;
    width: 250%;
  }
}