.single_column{
  background-image: url(../img/rio.jpg);
}

.grid{
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
}

#escobar{
  width: 35rem;
}

/* -------- Responsive -------- */
@media (max-width: 768px) {
  .grid2 {
    display: flex;
    flex-direction: column;
  }
  
  .grid2 .first_column {
    border-left: 1px solid var(--black);
    border-right: 1px solid var(--black);
    padding: 2rem;
    width: 90%;
  }
  
  .grid2 .second_column {
    width: 90%;
    display: flex;
    justify-content: center;
    border: none;
  }
}