<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@400;700&family=Antic+Didone&family=Prata&display=swap" rel="stylesheet">
</head>

<footer class="m3-footer" id="footer">
    <div>
        <div class="footer-team">
            <h4 class="team-title">Developed by</h4>

            <div class="team-grid">
                <div class="student-card" onclick="handleButtonClick('https://www.linkedin.com/in/federica-tamerisco-a3b3971bb/', true)">
                    Federica Tamerisco
                </div>

                <img id="notion" src="img/notion.png" alt="Notion Logo">

                <div class="student-card" onclick="handleButtonClick('https://www.linkedin.com/in/sara-caviglia-bbb2ab25a/', true)">
                    Sara Caviglia
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="footer-brand">
            <div class="brand-header">
                <p class="brand-title">Project for the Data Visualization course at the University of Genoa</p>
            </div>

            <img id="logo" src="img/DIBRIS_UniGe.png" alt="UniGe Logo">

            <p>
                Data sources: <a class="source" href="https://trends.google.com/trends/" target="_blank">Google Trends</a>,
                <a class="source" href="https://ec.europa.eu/eurostat/databrowser/view/NRG_TI_GAS__custom_938385/bookmark/table?lang=en&bookmarkId=d84ea630-1f0a-4827-891d-f4a8e930dfe7&c=1620753365581" target="_blank">Eurostat</a>,
                <a class="source" href="https://en.wikipedia.org/wiki/Israeli%E2%80%93Palestinian_conflict" target="_blank">Wikipedia - Israeli Palestinian Conflict</a>,
                <a class="source" href="https://en.wikipedia.org/wiki/Pablo_Escobar" target="_blank">Wikipedia - Pablo Escobar</a>,
                <a class="source" href="https://en.wikipedia.org/wiki/Medell%C3%ADn_Cartel" target="_blank">Wikipedia - Medellín Cartel</a>
                <a class="source" href="https://emoryeconomicsreview.org/articles/2025/1/23/tackling-the-narco-legacy-did-pablo-escobar-boost-colombias-economy" target="_blank">Emory Economics Review</a><br>
                Correlated website: <a class="source" href="https://girofex.github.io/Data-Visualization-websites" target="_blank">https://girofex.github.io/Data-Visualization-websites</a>
            </p>
        </div>
    </div>
</footer>