<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@400;700&family=Antic+Didone&family=Prata&display=swap" rel="stylesheet">
</head>

<footer class="m3-footer" id="footer">
    <div>
        <div class="footer-team">
            <h4 class="team-title">Developed by</h4>

            <div class="team-grid">
                <div class="student-card" onclick="handleButtonClick('https://www.linkedin.com/in/federica-tamerisco-a3b3971bb/', true)">
                    Federica Tamerisco
                </div>

                <img id="notion" src="img/notion.png" alt="Notion Logo">

                <div class="student-card" onclick="handleButtonClick('https://www.linkedin.com/in/sara-caviglia-bbb2ab25a/', true)">
                    Sara Caviglia
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="footer-brand">
            <div class="brand-header">
                <p class="brand-title">Project for the Data Visualization course at the University of Genoa</p>
            </div>

            <img id="logo" src="img/DIBRIS_UniGe.png" alt="UniGe Logo">

            <p>
                Data source: <a id="source" href="https://acleddata.com" target="_blank">ACLED</a><br>
                Downloaded on Dec 26th, 2025<br>
                Correlated website: <a id="source" href="https://girofex.github.io/Data-Visualization-websites" target="_blank">https://girofex.github.io/Data-Visualization-websites</a>
            </p>
        </div>
    </div>
</footer>