<div id="navbar" class="m3-navbar-container">
    <nav class="m3-navbar">
        <a class="m3-nav-link home" href="./index.html">Ex-Plot paper</a></li>

        <span style="position: relative">
            <md-button id="usage-anchor">
                <span class="material-symbols-outlined" id="menu">menu</span>
            </md-button>

            <md-menu id="usage-menu" anchor="usage-anchor">
                <md-menu-item>
                    <div slot="headline" class="section" data-href="./secondpage.html">Second-page conflicts</div>
                </md-menu-item>
                <md-menu-item>
                    <div slot="headline" class="section" data-href="./thirdpage.html">Third-page conflicts</div>
                </md-menu-item>
            </md-menu>
        </span>
    </nav>
</div>