<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@400;700&family=Antic+Didone&family=Prata&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/png" href="../img/notion-logo.png">

    <link rel="stylesheet" href="../css/style.css">
    <script type="module" src="../js/popup.js"></script>
</head>

<div class="grid grid_separate">
    <div class="column left_column">
    </div>
    <div class="column middle_column">
        <h2 style="font-size: 3rem !important; line-height: 1.2 !important; letter-spacing: 0.05em !important">Notice</h2>
        <p style="font-size: 2rem !important; line-height: 1.4 !important">For the best experience, we recommend viewing this site on a larger screen
            or rotating the device.</p>
    </div>
    <div class="column right_column">
    </div>
</div>